<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.posterUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">Дата релиза: {{item.release_date}}</p>
    <p class="card-text">Средняя оценка: {{item.vote_average}}</p>
    <a href="movie/{{item.id}}" class="btn btn-primary">Open</a>
  </div>
</div>