<div class="card">
  <img class="card-img-top" src={{movieImg}} alt={{movie.title}}>
  <div class="card-body">
    <h5 class="card-title">{{movie.title}} ({{movie.year}})</h5>
    <p class="card-text">{{movie.overview}}</p>

    <StarRating @rating={{movie.vote_average}}
                @numStars={{10}}
                @anyPercent={{true}}
                @readOnly={{true}}
                @fillColor="#000"/>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Rating:
      {{movie.vote_average}} ({{movie.vote_count}} votes)
    </li>
    <li class="list-group-item">Release date: {{movie.release_date}}</li>
    <li class="list-group-item">Status: {{movie.status}}</li>
    <li class="list-group-item">
      Genres:
      {{#each movie.genres as |genre|}}
        <span class="badge badge-info">{{genre.name}}</span>
      {{/each}}
    </li>
    <li class="list-group-item">
      Runtime:
      {{#if movie.runtime.hours}}
        {{movie.runtime.hours}}h
      {{/if}}
      {{movie.runtime.minutes}}m
    </li>
    {{#if movie.budget}}
      <li class="list-group-item">
        Budget:
        {{movie.budget}}
      </li>
    {{/if}}
    {{#if movie.revenue}}
      <li class="list-group-item">
        Revenue:
        {{movie.revenue}}
      </li>
    {{/if}}
    {{#if movie.tagline}}
      <li class="list-group-item">
        Tagline:
        {{movie.tagline}}
      </li>
    {{/if}}

    {{#if movie.production_companies}}
      <li class="list-group-item">
        Production companies:
        {{#each movie.production_companies as |company|}}
          <span class="badge badge-info">{{company.name}}</span>
        {{/each}}
      </li>
    {{/if}}

    {{#if movie.production_countries.length}}
      <li class="list-group-item">
        Production counrties:
        {{#each movie.production_countries as |countrie|}}
          <span class="badge badge-info">{{countrie.name}}</span>
        {{/each}}
      </li>
    {{/if}}
    {{#if movie.homepage}}
      <li class="list-group-item">
        Homepage:
        <a href={{movie.homepage}} target="_blank" rel="noopener">
          {{movie.homepage}}
        </a>
      </li>
    {{/if}}
  </ul>
</div>