<div class="card">
  <img class="card-img-top" src={{movieImg}} alt={{movie.title}}>
  <div class="card-body">
    <h5 class="card-title">{{movie.title}} ({{movie.releaseYear}})</h5>
    <p class="card-text">{{movie.overview}}</p>

    <StarRating @rating={{movie.vote_average}}
                @numStars={{10}}
                @anyPercent={{true}}
                @readOnly={{true}}
                @fillColor="#000"/>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Rating:
      {{movie.vote_average}} ({{movie.vote_count}} votes)
    </li>
    <li class="list-group-item">Release date: {{movie.release_date}}</li>
    <li class="list-group-item">Status: {{movie.status}}</li>
    <li class="list-group-item">
      Genres:
      {{#each genres as |genre|}}
        <span class="badge badge-info">{{genre.name}}</span>
      {{/each}}
    </li>
    <li class="list-group-item">
      Runtime: 
      {{movie.runtime}}
    </li>
    {{#if movie.budgetFormated}}
      <li class="list-group-item">
        Budget:
        {{movie.budgetFormated}}
      </li>
    {{/if}}
    {{#if movie.revenueFormated}}
      <li class="list-group-item">
        Revenue:
        {{movie.revenueFormated}}
      </li>
    {{/if}}
    {{#if movie.tagline}}
      <li class="list-group-item">
        Tagline:
        {{movie.tagline}}
      </li>
    {{/if}}

    {{#if companies}}
      <li class="list-group-item">
        Production companies:
        {{#each companies as |company|}}
          <span class="badge badge-info">{{company.name}}</span>
        {{/each}}
      </li>
    {{/if}}

    {{#if countries.length}}
      <li class="list-group-item">
        Production counrties:
        {{#each countries as |countrie|}}
          <span class="badge badge-info">{{countrie.name}}</span>
        {{/each}}
      </li>
    {{/if}}
    {{#if languages.length}}
      <li class="list-group-item">
        Languages:
        {{#each languages as |language|}}
          <span class="badge badge-info">{{language.name}}</span>
        {{/each}}
      </li>
    {{/if}}
    {{#if movie.homepage}}
      <li class="list-group-item">
        Homepage:
        <a href={{movie.homepage}} target="_blank" rel="noopener">
          {{movie.homepage}}
        </a>
      </li>
    {{/if}}
  </ul>
</div>